/* body{
    background-color: aqua;
} */

#cv-template{
    display: none;
}
.myimg{
    border:1px solid black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.background{
    background-color: thistle;
}
.owncl{
    background-color: thistle!important;

}
